* {
    box-sizing: border-box;
}

.app-outer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.app-inner {
    width: 80%;
    height: 100vh;
}

.pdf-frame-ctn, .annotations-ctn {
    height: 90%;
}

/* pdf-frame container */
/* ============= */
.pdf-frame-ctn {
    width: 60%;
    border-right: 7px solid var(--color-grey);
    position: relative;
}

.pdf-frame-ctn::before, .pdf-frame-ctn::after {
    content: '';
    position: absolute;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: var(--color-grey);
    right: -13.2px;
}

/* line caps for right border*/
.pdf-frame-ctn::before {
    top: -2px;
}

.pdf-frame-ctn::after {
    bottom: 0;
}

/* upload button */
/* ------------- */
.pdf-frame-ctn .upload-button {
    margin-top: 20%;
    padding: var(--padding-small);
}
.pdf-frame-ctn .upload-button .file-cta {
    transition: var(--transition-fast);
}
.pdf-frame-ctn .upload-button .file-cta:hover {
    background-color: white;
    color: var(--color-violet);
    border: solid var(--color-violet)
}

/* annotations-container */
/* ===================== */
.annotations-ctn {
    width: 40%;
}