* {
    box-sizing: border-box;
}

.app-outer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.app-inner {
    width: 80%;
    height: 100vh;
}

.pdf-frame-ctn, .annotations-ctn {
    height: 90%;
}

/* pdf-frame container */
/* ============= */
.pdf-frame-ctn {
    width: 60%;
    overflow: auto;
}

@media (min-width: 1600px){
    .pdf-frame-ctn {
        overflow: hidden;
    }
}

/* upload button */
/* ============= */
/* .pdf-frame-ctn .upload-button .file-cta {
    transition: var(--transition-fast);
}

.pdf-frame-ctn .upload-button .file-cta:hover {
    background-color: white;
    color: var(--color-violet);
    border: solid var(--color-violet);
} */

/* pdf-frame component */
/* =================== */
.pdf-frame .canvas-ctn {
    position: relative;
}

/* annotation drop component */
/* ========================= */
.annotation-drop {
    background-color: var(--color-aqua);
    position: absolute;
    transition: var(--transition-fast);
    /* opacity: 0; */
}

.annotation-drop.is-filled {
    background-color: var(--color-violet);
    color: white;
}

/* .annotation-drop:hover {
    opacity: 1;
} */

/* annotation drag component */
/* ========================= */
.annotation-drag {
    border: solid var(--color-violet);
    transition: var(--transition-fast);
    margin: 0 auto;
}

/* annotations-container */
/* ===================== */
.annotations-ctn {
    width: 40%;
    border-left: 5px solid var(--color-grey);
    position: relative;
}

/* line caps for left border*/
.annotations-ctn::before, .annotations-ctn::after {
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: var(--color-grey);
    left: -11px;
}

.annotations-ctn::before {
    top: -10px;
}

.annotations-ctn::after {
    bottom: -5px;
}

/* hide vue-draggable ghost on drop */
.sortable-ghost {
    display: none;
}