/* variables */
:root {
    /* colors */
    --color-violet: rgb(90 94 209);
    --color-grey:rgb(196 207 217);
    --color-aqua: rgb(136 215 207);

    /* padding */
    --padding-small: 1.25em;

    /* transitions */
    --transition-fast: 0.1s;
}
